<p><b>Add Food Item</b></p>
<div style="display:inline-block; margin-bottom: 20px; ">
  <button mat-button routerLink="/dashbord" mat-flat-button color="primary" >
    <i class="fa fa-home" aria-hidden="true"></i>
    Dashbord
  </button>

  <button mat-button routerLink="/foodItems" mat-flat-button color="primary" style="margin-left: 20px;">
     Food Items List
  </button>
</div>

<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="title">Dish name</label>
          <input #dishName="ngModel" [(ngModel)]="foodItem.dishName" name="dishName" id="dishName" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="dishName.touched && dishName.invalid">
            dish name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="title">Description</label>
          <input #foodItemDescription="ngModel" [(ngModel)]="foodItem.foodItemDescription" name="foodItemDescription" id="foodItemDescription" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="foodItemDescription.touched && foodItemDescription.invalid">
            description is required.
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon"></span>
            <input #price="ngModel" [(ngModel)]="foodItem.price" name="price" id="price" type="number" class="form-control" required [min]="0">
          </div>
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required">Price is required.</div>
            <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="categoryId">Category</label>
          <select #foodCategoryId="ngModel" [(ngModel)]="foodItem.foodCategoryId" name="foodCategoryId" id="foodCategoryId" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories$" [value]="c.foodCategoryId">
              {{ c.description }}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="foodCategoryId.touched && foodCategoryId.invalid">
            Category is required.
          </div>
        </div>
        <app-updload (onUploadFinished)="uploadFinished($event)"></app-updload>
        <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
      </form>
  </div>
  <div class="col-md-4">
    <app-food-items-card [foodItem]="foodItem" [show-actions]="false"></app-food-items-card>
  </div>
</div>
