<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate">
    <input #description="ngModel" placeholder="Description" matInput [(ngModel)]="localData.description" name="description" id="description" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
      Description is required
    </div>
  </mat-form-field>

  <ng-template #elseTemplate>
    Are you sure you want to delete ? <br><br>
    <b>{{localData.description}}</b>
    <br>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-flat-button color="primary">Save</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
